fastapi
uvicorn
pydantic
numpy
librosa
pydub
python-multipart


https://voice-detection-dbba.onrender.com



https://voice-detection-dbba.onrender.com/api/voice-detection
x-api-key: sk_test_123456
{
  "language": "Hindi",
  "audioFormat": "mp3",
  "audioBase64": "<BASE64_AUDIO>"
}
